@{
    Layout = null;
}

<br />
<br />
<div style="text-align:center">
    <img src="~/Images/88181025-forbidden.jpg" />
    <br />
    <h5 style="color:red">Forbidden, You are not allowed to see this content because you have no permission, Please Contact your director.</h5>
</div>
