@{ string Vname = "Branch";}
@{
    ViewBag.Title = @Vname;
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    Layout = null;
    //<link rel="stylesheet" href="~/Content/StyleSheet1AYM.css">
}
<center>
    <h2>(@Vname)</h2>
    <form class="form-horizontal" method="post">
        <span>Branch Name &nbsp;<input type="text" autocomplete="off" id="txtENBTNSearch" name="txtENBTNSearch" class="form-control col-md-3" required /></span>
        <br />
        <span>
            <input type="submit" class="btn btn-primary " id="LoadRecordsButton" value="Search">
        </span>
    </form>
</center>
<hr />
<style>
    #jtable-create-form, #jtable-edit-form {
        display: block;
        width: 350px;
        overflow: hidden !important;
        height: 300px;
    }


    /*.jtable-input-field-container:nth-of-type(1), .jtable-input-field-container:nth-of-type(2) {
        margin-bottom: 2px;
        display: block;
        float: left;
        width: 49% !important;
    }*/

    .jtable-input-field-container:nth-of-type(1), .jtable-input-field-container:nth-of-type(2) {
        margin-bottom: 2px;
        display: block;
        float: left;
        width: 98% !important;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
            $('#LKTBLNAME').jtable({
                title: '@Vname',
                paging: true,
                pageSize: 10,
                sorting: true,
                //defaultSorting: 'CourseName ASC',
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                actions: {
                    listAction: 'Branch/listAll',
                    createAction: 'Branch/CreateOne',
                    updateAction: 'Branch/UpdateOne',
                    deleteAction: 'Branch/DeleteOne',
                },
                fields: {
                    BranchID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    BranchName: {
                        title: 'Branch Name',
                        inputClass: 'validate[required]'
                    },
                    BranchNotes: {
                        title: 'Notes',
                        type: 'textarea',
                        //inputClass: 'validate[required]'
                    },
                    IsDeleted: {
                        title: 'Delete',
                        type: 'checkbox',
                        defaultValue: 'false',
                        values: { 'false': 'No', 'true': 'Yes' },
                        create: false,
                        edit: false,
                        list: false
                    },
                },
                formCreated: function (event, data) {
                    if (data.formType == "create") {
                        $(".ui-dialog-title").text("Add New");
                    }
                    else {
                        $(".ui-dialog-title").text("Modify");
                    }

                    $("#Edit-BranchName").attr('autocomplete', 'off');

                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                    $(".ui-dialog-title").text("Remove");
                },

            });
            $('#LKTBLNAME').jtable('load');

            $('#LoadRecordsButton').click(function (e) {

                e.preventDefault();
                $('#LKTBLNAME').jtable('load', {

                    txtENBTNSearch: $('#txtENBTNSearch').val()
                });
            });
        });
</script>

<div id="LKTBLNAME" style="width:auto"></div>
