
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

@*<center>
    <div>
        <ul style="list-style:none; padding:5px; display:inline-block" class="inline">
            <li class="list-inline-item">
                <center>
                    <a href="https://egyblanco.com/" target="_blank">
                        <img src="~/Images/OurClients/egyblanco.png" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5 id="abc">Egyblanco Web Development</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="https://www.upwork.com/" target="_blank">
                        <img src="~/Images/OurClients/freelanceclient.jpg" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5> Clients from the U.S.A</h5>
                    <br />
                </center>
            </li>
        </ul>
    </div>
</center>*@
@*<script>
    $(document).ready(function () {
        $("li a").hover(function () {
            //$(this).css("border", "dashed");
            $(this).css("opacity", ".5");
        })
        $("li a").mouseleave(function () {
            //$(this).css("border", "dashed");
            $(this).css("opacity", "1");
        })
    });

</script>*@