
@{
    ViewBag.Title = "Motivation";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<center>
    <div>
        <ul style="list-style:none; padding:5px; display:inline-block" class="inline">
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_BELIEVE.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_Contenders.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_DESIRE.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_Destiny.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_Dream.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_IAmaChampion.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_KNOWWHOYOUARE.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_STRUGGLE.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_The Courage.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_TheMillionDollarAdvicefromLesBrown.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_Unbroken.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_UPGRADEYOURVALUES.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_VISION.mp3" />
                </audio>
            </li>
            <li class="list-inline-item">
                <audio controls>
                    <source src="~/Images/Sounds/Motivation/Motivation_YouAreClosedYourGoal.mp3" />
                </audio>
            </li>
        </ul>
    </div>
</center>