
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<center>
    <div>
        <ul style="list-style:none; padding:5px; display:inline-block" class="inline">
            <li class="list-inline-item">
                <center>
                    <a href="https://www.Lifegypt.com" target="_blank">
                        <img src="~/Images/OurProjects/LifeEgypt.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Life Egypt</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/ElectionVoteSystem" target="_blank">
                        <img src="~/Images/OurProjects/project1.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5">
                        Election Vote System</h5>
                        <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/florenceafrica" target="_blank">
                        <img src="~/Images/OurProjects/project2.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Florence Africa</h5>
                    <br />
                </center>
            </li>

            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/DesignAYM03" target="_blank">
                        <img src="~/Images/OurProjects/project3.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Web Design For Trips</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/ArmedForcestask1" target="_blank">
                        <img src="~/Images/OurProjects/project4.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Armed Forces News</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/dynamicslink1" target="_blank">
                        <img src="~/Images/OurProjects/project5.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>https://dynamicslink.com/</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/EgyBlancoStartCrawler1" target="_blank">
                        <img src="~/Images/OurProjects/project6.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Web Crawler</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/egyblancotask1" target="_blank">
                        <img src="~/Images/OurProjects/project7.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Payfort Payments</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/ArmedForcestask2" target="_blank">
                        <img src="~/Images/OurProjects/project8.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Student Degrees</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/sales" target="_blank">
                        <img src="~/Images/OurProjects/project9.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Online Sales</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/pocketshop" target="_blank">
                        <img src="~/Images/OurProjects/project10.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Simple Online Shop</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/EgyblancoFawryProj" target="_blank">
                        <img src="~/Images/OurProjects/project11.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Fawry Payments</h5>
                    <br />
                </center>
            </li>
            <li class="list-inline-item">
                <center>
                    <a href="http://aymanelbatata.vr.lt/ElNoorCharity" target="_blank">
                        <img src="~/Images/OurProjects/project12.JPG" height="300" width="300" style="border-radius:10px" class="img-thumbnail" />
                    </a>
                    <br />
                    <h5>Elnoor Charity</h5>
                    <br />
                </center>
            </li>
        </ul>
    </div>
</center>
<script>
    $(document).ready(function () {
        $("li a").hover(function () {
            //$(this).css("border", "dashed");
            $(this).css("opacity", ".5");
        })
        $("li a").mouseleave(function () {
            //$(this).css("border", "dashed");
            $(this).css("opacity", "1");
        })
    });

</script>